body {
  background-color: #b1bedd;
  font-family: sans-serif; }
  body h1 {
    font-size: 3em; }
  body header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5vh;
    width: 100vw;
    background-color: #213964;
    border-bottom: 2px solid black;
    box-shadow: 0px 5px 8px #888888; }
    body header nav {
      width: 50%;
      font-size: 2em;
      height: 100%;
      display: flex;
      justify-content: space-around; }
      body header nav .navLink {
        text-decoration: none;
        color: #b6bdc2; }
        body header nav .navLink:hover {
          cursor: pointer;
          color: #828ba1; }
    body header button {
      width: 10%;
      margin-right: 1%;
      font-size: 1.5em;
      border: 3px outset #c88300;
      border-radius: 10px;
      background-color: #fece4f;
      color: black;
      outline: 0; }
      body header button:hover {
        cursor: pointer;
        box-shadow: 0px 0px 10px 0px #e3a92c; }
      body header button:active {
        margin-top: 5px;
        border: 3px inset #c88300;
        box-shadow: none; }
  body #midsection {
    display: flex; }
  body #content {
    background-image: url("/public/images/alexander-mcferon-757085-unsplash.jpg");
    background-size: cover;
    height: 90vh;
    width: 80vw; }
  body aside {
    Background-color: #1d1f13;
    color: #bdc9a4;
    border-left: 3px solid black;
    padding: 3px;
    height: 90vh;
    width: 20vw; }
  body footer {
    height: 5vh;
    width: 100vw;
    color: #b6bdc2;
    background-color: #213964;
    text-align: center;
    box-shadow: 1px -5px 8px black; }
  body h1 {
    color: #121a17; }
  body p {
    color: #121a17; }
  body #login-model {
    position: fixed;
    right: -25%;
    top: 5vh;
    transition: right 0.3s;
    background-color: white;
    width: 20%;
    height: 20%;
    font-family: sans-serif;
    font-weight: bold;
    border: 5px solid black;
    border-top: none;
    border-radius: 0px 0px 0px 30px; }
  body #login-form {
    margin-top: 5%;
    margin-left: 20%; }
  body .submit {
    background-color: darkred;
    border-radius: 10px;
    color: white;
    height: 2em;
    width: 25%; }
  body input {
    border: 3px solid black; }
  body #username-input {
    margin-bottom: 10px; }
