
$links: #9E782B;
$background-blue-color: #B1BEDD;
$background-gray-color: #95A6B3;
$text-normal-color: #121A17;
$text-light-color: #121A17;

$nav-background-color: #213964;
$nav-links-color: #B6BDC2;
$nav-links-hover-color: #828BA1;

$button-color: #FECE4F;
$button-text-border-color: #C88300;
$button-glow-color: #E3A92C;

$aside-bg-color: #1D1F13;
$aside-color: #BDC9A4;
