@import 'colors';


body {
    background-color: $background-blue-color;
    font-family: sans-serif;
    * {
        //border: 1px solid red;
    }
    #title {
        height: 170px;
        width: 570px;
        margin-left: 25%;
        margin-top: 10%;
        border-radius: 50%;
        border: 3px ridge;
        background: rgba(230,233,230,.5);
        h1 {
            margin-top: 55px;
            margin-left: 40px;
            position: fixed;
            font-family: fantasy;
            font-size: 3.2em;
        }
        h2 {
            margin-top: 90px;
            margin-left: 40px;
            position: fixed;
            font-family: monospace;
            font-size: 1.2em;
            font-weight: bold;
            letter-spacing: .13em;
        }
    }
    
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 5vh;
        width: 100vw;
        background-color: $nav-background-color;
        border-bottom: 2px solid black;
        box-shadow: 0px 5px 8px #888888;
        nav {
            .navLink {
                text-decoration: none;
                color: $nav-links-color;
                &:hover {
                    cursor: pointer;
                    color: $nav-links-hover-color;
                }
            }
            
            width: 50%;
            font-size: 2em;
            height: 100%;
            display: flex;
            justify-content: space-around;
        }
        button {
            width: 10%;
            margin-right: 1%;
            font-size: 1.5em;
            border: 3px outset $button-text-border-color;
            border-radius: 10px;
            background-color: $button-color;
            color: black; 
            outline: 0;
            &:hover {
                cursor: pointer;
                box-shadow: 0px 0px 10px 0px $button-glow-color;
            }
            &:active {
                margin-top: 5px;
                border: 3px inset $button-text-border-color;
                box-shadow: none;
            }
        }

    }
    #midsection{
        display: flex;
        background-image: url("/public/images/alexander-mcferon-757085-unsplash.jpg");
        background-size: cover;
    }
    #content {
        height: 90vh;
        min-width: 80vw;
    }
    aside {
        margin-left: 20vw;
        transition: margin-left 0.5s;
        Background-color: $aside-bg-color;
        color: $aside-color;
        border-left: 3px solid black;
        padding: 3px;
        height: 90vh;
        width: 20vw;
    }
    footer {
        height: 5vh;
        width: 100vw;
        color: $nav-links-color;
        background-color: $nav-background-color;
        text-align: center;
        box-shadow: 1px -5px 8px black;
    }
    h1 {
        color: $text-normal-color;
    }
    p {
        color: $text-light-color;
    }
    #login-model {
        position: fixed;
        right: -25%;
        top: 5vh;
        transition: right 0.3s;
        background-color: lightgray;
        width: 20%;
        height: 20%;
        font-family: sans-serif;
        font-weight: bold;
        border: 5px solid black;
        border-top: none;
        border-radius: 0px 0px 0px 30px;
        .submit, #cancellogin {
            border: 2px outset $button-text-border-color;
            border-radius: 5px;
            outline: 0;
            &:hover {
                cursor: pointer;
                box-shadow: 0px 0px 10px 0px $button-glow-color;
            }
            &:active {
                border: 3px inset $button-text-border-color;
                box-shadow: none;
            }
        }
    }
    #login-form {
        margin-top: 5%;
        margin-left: 20%;
    }
    .submit, #cancellogin {
        background-color: darkgreen;
        border-radius: 10px;
        color: white;
        height: 2em;
        width: 25%;
    }
    #cancellogin {
        background-color: darkred;
    }
    input {
        border: 3px solid black;
    }
    #username-input {
        margin-bottom: 10px;
    }
}
